<ion-header [translucent]="true">
  <ion-toolbar> <ion-buttons>
    <ion-back-button slot="start"></ion-back-button>
  </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos {{mensaje}}</ion-title>
    </ion-toolbar>

    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/qr.png">
        </ion-avatar>
        <h2>Escanear codigo Qr</h2>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/asistencia.png">
        </ion-avatar>
        <h2>Revisar asistencia</h2>
      </ion-item>

      

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/salir.png">
        </ion-avatar>
        <h2>Salir</h2>
      </ion-item>


    </ion-list>

  </ion-header>
</ion-content>
