.login-card{
    margin-top: 50%;
    border-radius: 20px;
    background: linear-gradient(145deg, #db8787, #b97171);
    box-shadow:  15px 15px 41px #603b3b,
             -15px -15px 41px #ffc1c1;
}

ion-item{
    background-color:#db8787;
}

.label ion-item {
    background-color: #db8787;
}
