<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="body"   [fullscreen]="true">
 
  <ion-card class="login-card">
    <div class="icono-login">
     <ion-icon name="person-outline"></ion-icon>
    </div>
    <ion-card-header>
      
      <ion-card-title>Inicio de Sesion</ion-card-title>
    </ion-card-header>
    <div class="container"> 
      <ion-card-content>
        <ion-input  label="Usuario: "></ion-input>
        <ion-input  type="password" label="contraseña: "></ion-input>
        <ion-label>Recuperar contraseña</ion-label>
        <ion-label>No tienes una cuenta?</ion-label>
        <ion-button color="tertiary"  shape="round">Ingresar </ion-button>
      </ion-card-content>
  </div>

</ion-card>


</ion-content>
