.login-card{
    margin: 150px  30px ;
    border-radius: 14px;
    background: linear-gradient(145deg, #b11ccf, #9517ae);
    box-shadow:  9px 9px 1px #420a4d               
}

.icono-login{
    font-size: 70px;
    display: flex;
    justify-content: center;
}